@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-main-color: #333333;
  --text-body-color: #616161;
}

html,
body,
:root,
#root {
  height: 100%;
  width: 100%;
}

body,
html {
  font-family: "League Spartan", sans-serif;
}

.circle {
  position: fixed;
  z-index: 100;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}

/* .window-mask {
  mask-image: linear-gradient(black, black);
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto, 300px auto;
  mask-position: center center, top 146px right 50%;
} */

/* https://www.w3schools.com/css/w3logo.png */

.gradient {
  background: linear-gradient(to bottom, #238e34, #23278c);
}

.btn_gradient {
  background: linear-gradient(to right, #238e34, #23278c);
}
